<div class="project-menu" *ngIf="project">
    <div class="project-menu__title">
        {{ project.title }}
    </div>
    <div class="project-menu__description">
        {{ project.description }}
    </div>
    <div class="project-menu__border"></div>
    <div class="project-menu__item">
        <a [routerLink]="[getDetailsUrl()]" routerLinkActive="link__active"  mat-raised-button 
            class="" color="primary">Details</a>
    </div>
    <div class="project-menu__item">
        <a [routerLink]="[getUsersUrl()]" routerLinkActive="link__active " mat-raised-button
            class="" color="primary" >Users</a>
    </div>
    <div class="project-menu__border"></div>
    <a [routerLink]="getIssuesUrl()" class="project-menu__item project-menu__item_primary" >
        <button  mat-button color="primary">
            {{ project.issues_count }} issues
        </button>
    </a>
    <a [routerLink]="getCreateIssuesUrl()" class="project-menu__item project-menu__item_primary">
        <button  mat-button color="primary">
            Create issues
        </button>
    </a>
    <div *ngIf="isAdmin()" class="project-menu__item project-menu__item_primary">
        <button  mat-button color="primary">
            Invaite user
        </button>
    </div>
    <div *ngIf="isCreator()" class="project-menu__border"></div>
    <div *ngIf="isCreator()" class="project-menu__item project-menu__item_warn">
        <button  mat-button color="warn" (click)="deleteProject()">
            Delete project
        </button>
    </div>
</div>