<div class="container auth-container">
    <span class="logo auth-container_logo">Task Manager</span>
    <span class="auth-container_header">Log in page</span>
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form form">
        <mat-form-field class="login-form__input form__input">
            <input matInput placeholder="Email" [formControl]="email" 
                [errorStateMatcher]="errorMatcher">
            <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error *ngIf="email.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                Email address invalid
            </mat-error>
        </mat-form-field> 

        <mat-form-field class="login-form__input form__input">
            <input matInput placeholder="Password" type="password" [formControl]="password"
                [errorStateMatcher]="errorMatcher">
            <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error *ngIf="password.hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="password.hasError('minlength')">
                Password can not be shorter than 6 characters.
            </mat-error>
        </mat-form-field>
        
        <div class="form__action-row_direction_column margin_top_10">
            <div class="form__action-row_direction_row">
                <mat-checkbox [formControl]="rememberMe">Remember me</mat-checkbox>
                <button type="button" mat-button (click)="signup()" color="primary">Sign up</button> 
            </div>
            <button class="form__action-row_direction_row form__action-row_button"
                type="submit" [disabled]="!loginForm.valid" mat-raised-button color="primary">
                Log in
            </button>
                 
        </div> 
    </form>
</div>
