$main-color: #1866C5;
$main-color-active: #37479F;
$back-color: #F7F9FA;
$back-color-two: #EAF8FF;
$back-main-color: white;


$color-disabled: #999;
$color-delete: red;
$color-active: #FF5A00;

// $agile-color: #EAF8FF;
$agile-color: #EFF8FF;

$issue-card-border-color: #BBBBBB;

$color-prioroty-minor: #E6E6E6;
$color-prioroty-normal: #E6F6CF;
$color-prioroty-major: yellow;
$color-prioroty-critical: red;

