.form {
    &__row {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    &__direction_column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }

    &__direction_row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    &__action-row {
        &_direction_column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
        }

        &_direction_row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        
        &_button {
            margin: 10px 0 !important;
        }
        
    }
}