$color: #1866C5;
$bac-color-active: #37479F;
$color-disabled: #999;
$color-active: orange;
$color-delete: red;

.link {
    overflow: hidden;
    display: -webkit-box;
    text-decoration: none;
    color: $color;
    cursor: pointer;
    :visited {
        color: $color;
    }
    &__active {
        background-color: $bac-color-active !important;
        &_color_orange {
            color: $color-active !important;
        }
    }
}
.link:hover {
    color: $color-active;
}

.remove-link:hover {
    color: $color-delete;
}

.disabled-link {
    color: $color-disabled;
    cursor: auto;
}

.disabled-link:hover {
    color: $color-disabled;
}