.link {
    overflow: hidden;
    display: -webkit-box;
    text-decoration: none;
    color: #1866C5;
    cursor: pointer;
    :visited {
        color: #1866C5;;
    }
}
.link:hover {
    color: orange ;
}