<div class="container auth-container">
        <span class="logo auth-container_logo">Task Manager</span>
        <span class="auth-container_header">Sign up page</span>
    <form [formGroup]="signupForm" (ngSubmit)="signup()" class="signup-form form">
        <mat-form-field class="form__row" >
            <input matInput placeholder="Email" [formControl]="email" 
                [errorStateMatcher]="errorMatcher">
            <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error *ngIf="email.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                Email address invalid
            </mat-error>
        </mat-form-field> 

        <mat-form-field class="form__row" >
            <input matInput placeholder="Password" type="password" [formControl]="password"
                [errorStateMatcher]="errorMatcher">
            <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error *ngIf="password.hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="password.hasError('minlength')">
                Password can not be shorter than 6 characters.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form__row" >
            <input matInput placeholder="Password confirm" type="password" [formControl]="passwordConfirm"
                [errorStateMatcher]="errorMatcher">
            <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error *ngIf="passwordConfirm.hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="passwordConfirm.hasError('minlength')">
                Password can not be shorter than 6 characters.
            </mat-error>
            <mat-error *ngIf="
                    passwordConfirm.hasError('confirmPassword') && 
                    !passwordConfirm.hasError('minlength') &&
                    !passwordConfirm.hasError('required')">
                Passwords not confirm.
            </mat-error>
        </mat-form-field>

        <div class="form__action-row_direction_row margin_top_20">
            <button type="submit" [disabled]="!signupForm.valid" mat-raised-button color="primary">
                Sign up
            </button>   
        </div> 
    </form>
</div>
