<div class="container agile-boards__container">
    <div class="agile-boards__actions-row"> 
        <div class="agile-boards__select-project">
            <mat-select [formControl]="selectProject">
                <mat-option *ngFor="let project of projects" [value]="project">
                    {{ project.title }}
                </mat-option>
            </mat-select>
        </div>
        <div class="agile-boards__select-sprint">
            <mat-select [formControl]="selectSprint">
                <mat-option *ngFor="let sprint of sprints" [value]="sprint">
                    {{ sprint }}
                </mat-option>
            </mat-select>
        </div>
    </div>
    <div class="agile-boards__table wrapper">
        <div class="agile-boards__column">
            <div class="agile-boards__column_header">
                <span>Open</span>
                <div class="agile-boards__add-card" (click)="createIssue(0)">
                    <span class="agile-boards__add-card_text">add a issue</span>
                    <mat-icon>add</mat-icon>
                </div>
            </div>
            <div class="open agile-boards__column_content"  [dragula]='"first-bag"'>
                <app-issue-card *ngFor="let issue of openIssues" [issue]="issue"  
                [attr.item-id]="issue.id">
                </app-issue-card>
            </div>
        </div>
        <div class="agile-boards__column">
            <div class="agile-boards__column_header">
                <span>In Progress</span>
                <div class="agile-boards__add-card" (click)="createIssue(1)">
                    <span class="agile-boards__add-card_text">add a issue</span>
                    <mat-icon>add</mat-icon>
                </div>
            </div>
            <div class="in-progress agile-boards__column_content"  [dragula]='"first-bag"'>
                <app-issue-card *ngFor="let issue of inProgressIssues" [issue]="issue" 
                    [attr.item-id]="issue.id" >
                </app-issue-card>
            </div>
        </div>
        <div class="agile-boards__column ">
            <div class="agile-boards__column_header">
                <span>To Verify</span>
                <div class="agile-boards__add-card" (click)="createIssue(2)">
                    <span class="agile-boards__add-card_text">add a issue</span>
                    <mat-icon>add</mat-icon>
                </div>
            </div>
            <div class="to-verify agile-boards__column_content" [dragula]='"first-bag"'>
                <app-issue-card *ngFor="let issue of toVerifyIssues" [issue]="issue"
                [attr.item-id]="issue.id">
                </app-issue-card>
            </div>
        </div>
        <div class="agile-boards__column">
            <div class="agile-boards__column_header">
                <span>Done</span>
                <div class="agile-boards__add-card" (click)="createIssue(3)">
                    <span class="agile-boards__add-card_text">add a issue</span>
                    <mat-icon>add</mat-icon>
                </div>
            </div>
            <div class="done agile-boards__column_content" [dragula]='"first-bag"'>
                <app-issue-card *ngFor="let issue of doneIssues" [issue]="issue" 
                [attr.item-id]="issue.id">
                </app-issue-card>
            </div>
        </div>
    </div>
    
</div>