<div class="projects-container">
    <form class="search-project">
        <mat-form-field class="search-project__input">
            <input matInput placeholder="Search" [formControl]="searchProjectsForm">
        </mat-form-field>
        <div class="search-project__button">
            <button  (click)="createProject()"
                type="button" [disabled]="false" mat-raised-button color="primary">
                Create project
            </button>
        </div>
    </form>
    <div class="projects-container__projects">
        <mat-card class="project-card" *ngFor="let project of projects">
            <div *ngIf="!project.isInvite" class="project-card__sub-row">
                <a routerLink="/{{ projectsUrl }}/{{ project.id }}" class="project-card__header link" >{{ project.title }}</a>
            </div>
            <div *ngIf="project.isInvite" class="project-card__sub-row">
                <a  class="project-card__header link disabled-link" >{{ project.title }}</a>
            </div>
            <div class="project-card__desc">{{ project.description }}</div>
            <div class="project-card__info">Project code: {{ project.code }}</div>
            <div *ngIf="!project.isInvite" class="project-card__sub-row">
                <a routerLink="/{{ agileBoardsUrl }}/{{ project.id }}" class="project-card__info link">{{ project.issues_count }} issues</a>
            </div>
            <div *ngIf="project.isInvite" class="project-card__sub-row">
                <a (click)="joinProject(project.id)" class="project-card__info link">join project</a>
            </div>
        </mat-card>
    </div>
</div>
