.issues-create {
    display: flex;
    flex-direction: column;
    
    &__header {
        font-size: 18px;
        margin: 5px 0;
    }

    &__content {
        display: flex;
        flex-direction: row;
    }

    &__left-content {
        padding: 20px;
        display: flex;
        flex-direction: column;
        width: 60%;
    }

    &__action-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        &_button {
            margin-right: 20px !important;
        }
    }

    &__days {
        &_input {
            margin-left: 10px; 
            width: 80px;
        }
    }

    &__form-inputs {

    }

    &__input {
        width: 100%;
    }

    &__summary {

    }

    &__right-content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        background-color: $back-color;
        font-size: 14px !important;
        padding: 20px;
        
        &_row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &_column {

            display: flex;
            justify-content: flex-start;
            flex: 1;
            &_left {
                margin-right: 10px;
                width: 30%;
            }
        }
 
    }

    &__project {
        margin-bottom: 10px;
    }


    
}

