<div class="project-users-container container">
    <div class="project-users">
        <span class="project-users__header">Project users</span>
        <div class="project-users__action-row">
            <mat-form-field class="project-users__filter">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
            <div class="project-users__invite-user">
                <button class="" (click)='inviteUsers()' mat-raised-button color="primary"> Invite user </button>
            </div>
            
        </div>
        <mat-table class="project-users__table" [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.email }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="role">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <mat-select [(value)] = "row.role"  [disabled]="isUserCreator(row.role) || !isCreator()"
                        (change)="changeRole($event.value, row.user_id)">
                        <mat-option [disabled]="role.value === 0" *ngFor="let role of roles" [value]="role.value">
                            {{ role.role }}
                        </mat-option>
                    </mat-select>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="remove">
                <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
                <mat-cell *matCellDef="let row"> 
                    <a [ngClass]="{ 'link': true, 
                                    'remove-link': canRemoveUser(row.role), 
                                    'disabled-link': !canRemoveUser(row.role) }"
                        (click)="removeUser(row.user_id, row.role)" >
                        remove user
                    </a>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>

        </mat-table>
    </div>
</div>