<div class="project-users-container container">
    <div class="project-users">
        <mat-form-field class="project-users__filter">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <mat-table class="project-users__table" [dataSource]="dataSource" matSort>
            <ng-container class="project-users__table_email" matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.email }} </mat-cell>
            </ng-container>
            <ng-container class="project-users__table_name" matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
            </ng-container>
            <ng-container class="project-users__table_role" matColumnDef="role">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.role }} </mat-cell>
            </ng-container>
            <ng-container class="project-users__table_action" matColumnDef="action">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                <mat-cell *matCellDef="let row"> 
                    <a class="link">
                        action
                    </a>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>

        </mat-table>
    </div>
</div>