<div class="container home">
    <div class="home__header">
        <div class="home__header_main-text">
            Task Manager
        </div>
        <div class="home__header_desc-text">
            Issue tracker designed
            for agile software teams
        </div>
        <div class="home__header_button">
            <a [routerLink]="getStartedLink" mat-raised-button >Get started</a>
        </div>
    </div>
    <div class="home__content">
        <div class="home__content__item">
            <div class="home__content__item_header">Flexible system</div>
            <div class="home__content__item_text">
                Flexible system for dynamic process control On the ouк "Agile Boards".
            </div>
        </div>
        <div class="home__content__item">
            <div class="home__content__item_header">Easy to use</div>
            <div class="home__content__item_text">
                The application is easy to start using even for users who do not have experience with similar systems.
            </div>
        </div>
        <div class="home__content__item">
            <div class="home__content__item_header">Free for use</div>
            <div class="home__content__item_text">
                Our application is completely free in use of any restrictions.
            </div>
        </div>
    </div>
</div>